    </div>
    <hr>
    <div id="footer footer-fixed-bottom">
      <div class="container">
        <div class="row">
            <div class="col-md-8">
                <a href="https://www.helmholtz-hzi.de/en/">
                    <img class="inline-block px-2" src="{{ site.url }}/static/img/logo/HZI_white_logo.svg">
                </a>
                <a href="https://www.twincore.de/en/home/">
                    <img class="inline-block px-2" src="{{ site.url }}/static/img/logo/twincore_logo.svg">
                </a>
                <a href="https://www.mhh.de/en/">
                    <img class="inline-block px-2" src="{{ site.url }}/static/img/logo/MHH_logo.svg">
                </a>
            </div>
            <div class="col-md-2">
                <small class="text-muted"> Website available on <a href="https://github.com/fmulenge/fmulenge.github.io">GitHub</a>. Last updated on: {{ "now" | date: "%Y-%m-%d %r" }}.</small>
            </div>
        </div>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
  </body>
</html>
