{% include header.html %}

<div class="container px-2 max-width: 100%">
            <div class="text-wrapper">
                        <img src="/static/img/logo/Graphical abstract.jpeg" alt=""/> 
                        <p class="text-muted">Reconstructing brain immune networks </p>
            </div>
    <div class="row">
        <div class="col-md-15">
    	    <div class="jumbotron bg-white">
        	    <h3>Bio</h3>
                            <p align="justify"> 
                                        I am a computational biologist with over seven years of experience in bioinformatics, data science, genomics, and molecular biology. Equally well-versed in academic research, I leverage a unique interdisciplinary background in neuroscience, immunology, and bioinformatics to create data-driven solutions that transform scientific results into clinical practices and targeted therapies. Currently, I am a Postdoctoral Scholar at <a href="https://www.helmholtz-hzi.de/en/" target="_blank">Helmholtz Centre for Infection Research (HZI)</a>, spearheading the development of multi-scale generative and inference models to unravel the molecular mechanisms underlying viral, autoimmune, and neurodegenerative diseases.<br>
                                        I received my PhD in neuroimmunology from <a href="https://www.mhh.de/en/" target="_blank">Medizinische Hochschule Hannover (MHH)</a>, working in Ulrich Kalinke's lab at <a href="https://www.twincore.de/en/home/" target="_blank">Twincore</a>. My doctoral research focused on deciphering the brain’s antiviral responses in virus-induced encephalitis. I developed novel experimental and computational tools for in-situ transcriptomics and investigated the brain cellular interactome following pathological insults.<br>
                                        Beyond my technical skills, I am a highly motivated and detail-oriented individual with a strong work ethic and a collaborative spirit. I thrive in dynamic, interdisciplinary environments and continuously seek opportunities to learn and grow.<br>         
                            </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:5px;">
        <div class="col">
             <h4> Interested in advanced analytics? </h4>
                    <p align="justify">
                                Please get in touch via <a href="{{ site.url }}/contact">email</a>.<br>
                                You can also find me online at <a href="https://x.com/FMulenge" target="_blank">twitter</a>, <a href="https://www.linkedin.com/in/felix-mulenge-74aaa8187/" target="_blank">linkedin</a>, and <a href="https://github.com/fmulenge" target="_blank">github</a>.<br>
                                I strive to share my scientific expertise as widely as possible.<br>     
                    </p>
        </div>
        <div class="col-md-4">
            <h4> Recent Posts </h4>
            <ul>
              {% for post in site.posts limit: 5 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
        </div>
    </div>    
</div>
{% include footer.html %}
