{% include header.html %}
<div class="container">
    <!img class="img-fluid mx-auto d-block" src="/static/img/logo/jf_aa_logo.jpg" alt="Fraser at UCSF, in molecular form">
    <!small class="text-muted credit">Proteus Oceani & Tethyos filius by Nature Science</small>
    <div class="row">
        <div class="col-md-15">	
            <img class="img-fluid mx-auto d-block" src="/static/img/logo/jf_aa_logo.jpg" alt="Fraser at UCSF, in molecular form">
            <small class="text-muted credit">Proteus Oceani & Tethyos filius by Nature Nueorscience</small>
        </div>
        <div class="col-md-15">
    	    <div class="jumbotron">
        	    {{ content }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
             <h3> Interested in advanced analytics? </h3>
             Please get in touch <a href="{{ site.url }}/contact">here</a>!.<br>
             You can also find me online at <a href="https://x.com/FMulenge" target="_blank">twitter</a>, <a href="https://www.linkedin.com/in/felix-mulenge-74aaa8187/" target="_blank">linkedin</a>, and <a href="https://github.com/fmulenge" target="_blank">GitHub</a>.<br>
             I strive to share my scientific expertise as widely as possible.<br>
        </div>
        <div class="col-md-4">
            <h3> Recent Posts </h3>
            <ul>
              {% for post in site.posts limit: 5 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
        </div>
    </div>    
</div>
{% include footer.html %}
